<!-- <nav class="navbar navbar-toggleable-md navbar-light bg-faded"> -->
    <!-- <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
            aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <!-- <a class="navbar-brand" href="#">North America - Conventional</a> -->
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="#" routerLink="/template">Templates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/lists">lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    <!-- <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="exCollapsingNavbar2">
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" routerLink="/transfers" routerLinkActive="active">Transfers</a>
        <a class="nav-item nav-link" routerLink="/jobs" routerLinkActive="active">Jobs</a>
        <a class="nav-item nav-link" routerLink="/jobs/7" routerLinkActive="active">Job 7</a>
      </div>
    </div> -->
  <!-- </nav> -->