<td>
    <input type="text" [(ngModel)]="template.name">
</td>
<td>{{template.language}}</td>
<td>{{template.product}}</td>
<td>{{template.fromName}}</td>
<td>{{template.subject}}</td>
<td>{{template.template}}</td>
<td> 
    <app-tiny-editor [templateComponent]="template.template"  [elementId]="template.id" (onEditorContentChange)="keyupHandlerFunction($event)">
    </app-tiny-editor>
</td>
<td>
    <span (click)="templateContextChanged($event)">save</span>
    <span (click)="templateDeActivate($event)">delete</span>
    <span>reset</span>
</td>