<div class="container">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="Templates">
      <ng-template ngbPanelContent>
        <div class="row">
          <div class="col-sm-3">
            <label>
              <select (change)="onNumOfResultsPerPageChange($event)" [(ngModel)]="numOfResultsPerPageStr" class="custom-select mb-2 mr-sm-2 mb-sm-0"
                id="inlineFormCustomSelect">
                <option value=5>5</option>
                <option value=10>10</option>
                <option value=20>20</option>
              </select>
            </label>
            results per page
          </div>
          <div class="col-sm-3">
            <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
              <input type="checkbox" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Remember my preference</span>
            </label>
          </div>
          <div class="col-sm-3">
            <label>Total {{collectionSize}} results</label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10">
            <section id="search">
              <label for="search-input">
                <i class="fa fa-search" aria-hidden="true"></i>
                <span class="sr-only">Search</span>
              </label>
              <input id="search-input" class="form-control input-lg" placeholder="Search Template" autocomplete="off" spellcheck="false"
                autocorrect="off" tabindex="1" input type="text" (keyup)='onKeyPressAutoComplete($event)' [(ngModel)]="searchParams">
            </section>
          </div>
        </div>
        <div class="row">
          <a class="nav-link active" href="#" (click)="isAddTemplate=!isAddTemplate" routerLink="/template">Add Template</a>
          <add-template *ngIf="isAddTemplate"></add-template>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-responsive table-hover">
              <thead>
                <tr>                  
                  <th scope="col" *ngFor="let colName of templateColumns">{{colName.name}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let template of templates | async; let i = index" template-component [template]="template" (onTemplateContextEdit)="onTemplateContextEdit($event)"
                  [index]='i'>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  <div class="row justify-content-center">
    <div class="col-4">
      <pagination [collectionSize]="collectionSize" (onPageClick)="onPageClick($event)" [searchParams]='searchParams'></pagination>
    </div>
  </div>
</div>